<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WiseCell | Welcome</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3080/firstPage.css"/>
</head>
<body>
<div class="div1">
<div class="div2">
<div class="logo"><h1>WiseCell</h1></div>
<div class="motto"><h2>Your favourite mobile store is here!</h2></div>
</div>

<div><form method="post" action="go-to-submit">
    <button id="button_user">Submit / Register as user</button></form></div>
</div>




</body>
</html>