<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WiseCell | Register</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3080/register.css"/>

</head>

<body>

<form method="post" action="/register-action">
    <div class="login">

        <div><label class="form-group" for="username">Nume utilizator</label></div>
        <div><input type="text" name="username" class="form-control" id="username" required></div>

        <div><label class="form-group" for="password">Parola</label></div>
        <div><input type="password" name="password" class="form-control" id="password" required></div>

        <button type="submit" class="register" >register</button>

    </div>
</form>


</body>


</html>

